/**
 * SF Mono Nerd Font
 * A patched version of SF Mono with programming ligatures and icons
 */

/* Regular */
@font-face {
    font-family: 'SF Mono';
    src: url('/fonts/sf-mono/sf-mono-regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Mono';
    src: url('/fonts/sf-mono/sf-mono-regular-italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* Light */
@font-face {
    font-family: 'SF Mono';
    src: url('/fonts/sf-mono/sf-mono-light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Mono';
    src: url('/fonts/sf-mono/sf-mono-light-italic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

/* Medium */
@font-face {
    font-family: 'SF Mono';
    src: url('/fonts/sf-mono/sf-mono-medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Mono';
    src: url('/fonts/sf-mono/sf-mono-medium-italic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

/* Semibold */
@font-face {
    font-family: 'SF Mono';
    src: url('/fonts/sf-mono/sf-mono-semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Mono';
    src: url('/fonts/sf-mono/sf-mono-semibold-italic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

/* Bold */
@font-face {
    font-family: 'SF Mono';
    src: url('/fonts/sf-mono/sf-mono-bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Mono';
    src: url('/fonts/sf-mono/sf-mono-bold-italic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

/* Heavy */
@font-face {
    font-family: 'SF Mono';
    src: url('/fonts/sf-mono/sf-mono-heavy.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Mono';
    src: url('/fonts/sf-mono/sf-mono-heavy-italic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}